<%- include ('partials/header') %>
        <header>
            <h1>
                Welcome
            </h1>
        </header>
        <nav>
            <a href="/" id="current">HOME</a>
            <a href="/dbms">DBMS</a>
            <a href="/os">OS</a>
            <a href="/SDLC">SDLC</a>
        </nav>
        <br/><br/>
        <figure>
            <img src="img/CS.jpg" width="75%" id="cpluspluspic" alt="picture"/>
        </figure>

<%- include ('partials/footer')%>