<%- include('partials/header.ejs') %>
        <header>
            <h1>
                Operating System
            </h1>
        </header>
        <nav>
            <a href="/">HOME</a>
            <a href="/dbms">DBMS</a>
            <a href="/os" id="current">OS</a>
            <a href="/SDLC">SDLC</a>
        </nav>
        <br /><br />
        <figure >
            <img src="img/OS.jpg" width="75%" id="cpluspluspic" alt="picture"/>
        </figure>
        
    <div class="content">
    
    <h2>Introduction:</h2><hr>
    
    <p><br>
    
    An Operating System (OS) is an interface between a computer user and computer hardware. An operating system is a software which performs all the basic tasks like file management, memory management, process management, handling input and output, and controlling peripheral devices such as disk drives and printers.
    
    Some popular Operating Systems include Linux, Windows, OS X, VMS, OS/400, AIX, z/OS, etc.
    
    <b>Following are some of important functions of an operating System.</b><br>
    
    Memory Management<br>
    
    Processor Management<br>
    
    Device Management<br>
    
    File Management<br>
    
    Security<br>
    
    Control over system performance<br>
    
    Job accounting<br>
    
    Error detecting aids<br>
    
    Coordination between other software and users<br>
    
    </p><hr>
    
    <p>
    
    <b> Important Activities</b><br>
    
    Security ? By means of password and similar other techniques, it prevents unauthorized access to programs and data.
    
    Control over system performance ? Recording delays between request for a service and response from the system.
    
    Job accounting ? Keeping track of time and resources used by various jobs and users.
    
    Error detecting aids ? Production of dumps, traces, error messages, and other debugging and error detecting aids.
    
    Coordination between other softwares and users ? Coordination and assignment of compilers, interpreters, assemblers and other software to the various users of the computer systems.
    
    </p>
    
    <br>
    
    <b>Link:<a style="color:black;" href="https://www.tutorialspoint.com/operating_system/os_overview.htm">Operating System</a></b>
    
    </div>

        
<%- include('partials/footer.ejs') %>