<%- include('partials/header.ejs') %>
        <header>
            <h1>
                SDLC Methodologies
            </h1>
        </header>
        <nav>
            <a href="/">HOME</a>
            <a href="/dbms">DBMS</a>
            <a href="/os">OS</a>
            <a href="/SDLC"  id="current">SDLC</a>
        </nav>
        <br/><br/>
        <figure >
            <img src="img/SDLC.jpg" width="75%" id="cpluspluspic" alt="picture"/>
        </figure>
        
    <div class="content">
    
    <h2>Introduction:</h2><hr>
    
    <p>Software development life cycle (SDLC) is a series of phases that provide a common understanding of the software building process. How the software will be realized and developed from the business understanding and requirements elicitation phase to convert these business ideas and requirements into functions and features until its usage and operation to achieve the business needs. The good software engineer should have enough knowledge on how to choose the SDLC model based on the project context and the business requirements.
    
    Therefore, it may be required to choose the right SDLC model according to the specific concerns and requirements of the project to ensure its success. I wrote another article on how to choose the right SDLC, you can follow this link for more information.
    
    In this article, we will explore the different types of SDLC models and the advantages and disadvantages of each one and when to use them.<br>
    
    </p><hr>
    
    <p>
    
    Types of Software developing life cycles (SDLC)
    
    Waterfall Model<br>
    
    V-Shaped Model<br>
    
    Evolutionary Prototyping Model<br>
    
    Spiral Method (SDM)<br>
    
    Iterative and Incremental Method<br>
    
    Agile development<br>
    
    </p>
    
    <br>
    
    <b>Link:<a style="color:black;" href="https://melsatar.blog/2012/03/15/software-development-life-cycle-models-and-methodologies/">DSoftwareevelopment Life Cycle Methodologies</a></b>
    
    </div>

        
<%- include('partials/footer.ejs') %>